footer.footer
    .footer__top
        .container
            .footer__left
                logo.logo__footer
                    img(src="/img/logos/logo__footer.png" alt="cooltech logo").logo__img
                    .logo__text cooltech
            .footer__right
                ul.socials.socials_footer
                    - var items = ['fb', 'vk', 'tw']
                    each item in items
                        li(class="socials__item socials__item_" + item)
                            a(href="#").socials__link
                ul.footer__nav
                    - var items = ["Планшеты", "Мобильные телефоны", "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксессуары", "Бытовая техника"]
                    each item in items
                        li.footer__nav-item
                            a(href="#").footer__nav-link= item
    .footer__bottom
        .container
            .footer__copyright All rights reserved. 2015. No copy allowed.