.footer {
  background: url('/img/bg/footer_pattern.png') center center;
  position: relative;
}

.footer__top {
  padding-top: 34px;
}

.footer__left {
  width: 45%;
  float: left;
  padding-top: 34px;
}

.footer__right {
  width: 55%;
  float: left;
  text-align: right;
}

.logo_footer {
  .logo__img {
    max-width: 255px;
  }
}

$footer__socials-map: sprite-map('icons/footer__socials/*.png', $spacing: 70px);

.socials_footer {
  margin-bottom: 21px;

  .socials__link {
    width: 45px;
    height: 45px;
    background: #ffffff;
    display: block;
  }

  .socials__item {
    margin-left: 26px;
  }

  $items: fb, vk, tw;

  @each $item in $items {
    .socials__item_#{$item} {
      .socials__link {
        &:after {
          @include get-sprite($footer__socials-map, $item);
          content: "";
          @include absolute-center;
        }

        &:hover {
          &:after {
            $icon-name: $item + '-hover';
            @include get-sprite($footer__socials-map, $icon-name);
          }
        }
      }
    }
  }
}

.footer__nav-item {
  @include inlineblock();
  margin-left: 33px;
  margin-bottom: 15px;
}

.footer__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  &:hover {
    text-decoration: none;
  }
}

.footer__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #494949;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
}

.footer__copyright {
  padding: 8px 0;
}

