.sidebar {
  float: left;
  width: 335px;
}

.categories {
  margin-bottom: 40px;
  background: #FFFFFF;
}

.categories__list {
  border: 1px solid #dee1e4;
  @include border-radius(5px);
  overflow: hidden;
}

.categories__item {
  border-top: 1px solid #dee1e4;

  &:first-child {
    border-top: 0 none;
  }

  &.active {
    .categories__link {
      background: #d9e5ea;
      color: #5d656c;
    }
  }
}

.categories__link {
  display: block;
  width: 100%;
  padding: 11px 30px;
  color: #7f7f7f;
  text-decoration: none;
  box-sizing: border-box;
}

/* ---------- filter ---------- */

.filter__content {
  display: none;
}

.filter__list {
  @extend  .categories__list;
}

.filter__item {
  padding: 12px 26px;
  border-top: 1px solid $grey;

  &:first-child {
    border-top: 0 none;
  }

  &.active {
    .filter__title {
      &:after {
        @include get-sprite($select-tr-map, to-top);
      }
    }

  }
}

.filter__title {
  margin-bottom: 18px;
  padding-right: 30px;
  position: relative;

  &:after {
    content: '';
    @include get-sprite($select-tr-map, to-bottom);
    position: absolute;
    top: 7px;
    right: 10px;
  }
}

.filter__choose-item {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.filter__title-link {
  color: $black;
  display: block;
  font-size: 16px;
  line-height: 18px;
  @include open-sans(semibold);
  margin-bottom: 18px;
  text-decoration: none;
}

.filter__choose {
  margin-bottom: 13px;
}

.filter__choose-label {
  display: block;
  position: relative;
}

.filter__choose-elem {
  border: 3px solid #dee1e4;
  width: 13px;
  height: 13px;
  @include border-radius(50%);
  position: relative;
  @include transition(border-color .3s);
  @include inlineblock();

  &:after {
    content: "";
    @include absolute-center;
    width: 0;
    height: 0;
    @include border-radius(50%);
    background: $orange;
    @include transition(.3s);
  }
}

.filter__choose-input {
  position: absolute;
  top: 0;
  left: -9999px;

  &:checked +.filter__choose-elem {
    border-color: $orange;

    &:after {
      width: 9px;
      height: 9px;
    }
  }
}

.filter__choose-text {
  @include inlineblock(top);
  font-size: 14px;
  line-height: 16px;
  color: $black;
  max-width: 240px;
  margin-left: 8px;
}

/* ---------- checkboxes ---------- */

.filter__choose_checkboxes {
  .filter__choose-input {
    &:checked + .filter__choose-elem {
      background: $orange;

      &:after {
        opacity: 1;
      }
    }
  }

  .filter__choose-elem {
    width: 20px;
    height: 20px;
    @include border-radius(4px);
    background: $grey;
    @include transition(.2s);
    border: 0 none;

    &:after {
      content: "";
      display: block;
      @include absolute-center;
      opacity: 0;
      @include transition(.2s);
      @include get-sprite($misc-sprite, check);
      @include border-radius(0);
      width: 13px !important;
      height: 10px !important;
    }
  }
}

.filter__reset {
  color: #5db2fc;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    text-decoration: none;

  }
}

/* ---------- colors ---------- */

.filter__colors-link {
  border: 1px solid $grey;
  width: 37px;
  height: 37px;
  display: block;
}

.filter__colors-item {
  @include inlineblock();
  border: 3px solid transparent;
  margin-left: 10px;
  margin-bottom: 8px;

  &:hover {
    background-color: $orange;
  }
}

.filter__colors {
  margin-left: -10px;
}

/* ---------- slider ---------- */

.filter__slider-displays {
  @include clearfix;
  margin-bottom: 18px;
}

.filter__slider-left {
  float: right;
  width: 50%;
}

.filter__slider-input {
  @extend .search__form-input;
  padding: 10px 8px;
  width: 83px;
  @include inlineblock(middle);
}

.filter__slider-text {
  @include inlineblock(middle);
  font-size: 14px;
  line-height: 16px;
}

